<link rel="stylesheet" href="__STATIC__/plugs/lay-module/layuimini/layuimini.css?v={:time()}" media="all">
<link rel="stylesheet" href="__STATIC__/plugs/lay-module/layuimini/themes/default.css?v={:time()}" media="all">
<style id="layuimini-bg-color">
</style>
<body class="layui-layout-body layuimini-all">
<div class="layui-layout layui-layout-admin">

    <div class="layui-header header">
        <div class="layui-logo layuimini-logo"></div>

        <div class="layuimini-header-content">
            <a>
                <div class="layuimini-tool"><i title="展开" class="fa fa-outdent" data-side-fold="1"></i></div>
            </a>

            <!--电脑端头部菜单-->
            <ul class="layui-nav layui-layout-left layuimini-header-menu layuimini-menu-header-pc layuimini-pc-show">
            </ul>

            <!--手机端头部菜单-->
            <ul class="layui-nav layui-layout-left layuimini-header-menu layuimini-mobile-show">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="fa fa-list-ul"></i> 选择模块</a>
                    <dl class="layui-nav-child layuimini-menu-header-mobile">
                    </dl>
                </li>
            </ul>

            <ul class="layui-nav layui-layout-right">

                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" data-refresh="刷新"><i class="fa fa-refresh"></i></a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" data-clear="清理" class="layuimini-clear"><i class="fa fa-trash-o"></i></a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" title="我的消息" id="message">我的消息</a>
                </li>
                <li class="layui-nav-item mobile layui-hide-xs" lay-unselect>
                    <a href="javascript:;" data-check-screen="full"><i class="fa fa-arrows-alt"></i></a>
                </li>
                <li class="layui-nav-item layuimini-setting">
                    <a href="javascript:;">
                        <img src="{:session('admin.head_img')}" class="layui-nav-img" width="50" height="50">
                        <cite class="adminName">{:session('admin.username')}</cite>
                        <span class="layui-nav-more"></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" layuimini-content-href="{:__url('index/editAdmin')}" data-title="基本资料" data-icon="fa fa-gears">基本资料<span class="layui-badge-dot"></span></a>
                        </dd>
                        <dd>
                            <a href="javascript:;" layuimini-content-href="{:__url('index/editPassword')}" data-title="修改密码" data-icon="fa fa-gears">修改密码</a>
                        </dd>
                        <dd>
                            <hr>
                        </dd>
                        <dd>
                            <a href="javascript:;" class="login-out">退出登录</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item layuimini-select-bgcolor" lay-unselect>
                    <a href="javascript:;" data-bgcolor="配色方案"><i class="fa fa-ellipsis-v"></i></a>
                </li>
            </ul>
        </div>
    </div>

    <!--无限极左侧菜单-->
    <div class="layui-side layui-bg-black layuimini-menu-left">
    </div>

    <!--初始化加载层-->
    <div class="layuimini-loader">
        <div class="layuimini-loader-inner"></div>
    </div>

    <!--手机端遮罩层-->
    <div class="layuimini-make"></div>

    <!-- 移动导航 -->
    <div class="layuimini-site-mobile"><i class="layui-icon"></i></div>

    <div class="layui-body">
        <div class="layuimini-tab layui-tab-rollTool layui-tab" lay-filter="layuiminiTab" lay-allowclose="true">
            <ul class="layui-tab-title">
                <li class="layui-this" id="layuiminiHomeTabId" lay-id=""></li>
            </ul>
            <div class="layui-tab-control">
                <li class="layuimini-tab-roll-left layui-icon layui-icon-left"></li>
                <li class="layuimini-tab-roll-right layui-icon layui-icon-right"></li>
                <li class="layui-tab-tool layui-icon layui-icon-down">
                    <ul class="layui-nav close-box">
                        <li class="layui-nav-item">
                            <a href="javascript:;"><span class="layui-nav-more"></span></a>
                            <dl class="layui-nav-child">
                                <dd><a href="javascript:;" layuimini-tab-close="current">关 闭 当 前</a></dd>
                                <dd><a href="javascript:;" layuimini-tab-close="other">关 闭 其 他</a></dd>
                                <dd><a href="javascript:;" layuimini-tab-close="all">关 闭 全 部</a></dd>
                            </dl>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="layui-tab-content">
                <div id="layuiminiHomeTabIframe" class="layui-tab-item layui-show"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="__STATIC__/js/jquery-1.8.3.min.js?v={$version}" charset="utf-8"></script>
<script src="https://www.layuicdn.com/layer/layer.js"></script>
<script>
    $('#message').click(function () {
        layer.open({
            type: 2,
            title: '消息',
            shadeClose: true,
            shade: 0.8,
            area: ['30%', '40%'],
            content: '/admin/project.message/message' //iframe的url
        });
    });

    // var t2 = window.setInterval(function() {
    //     $.ajax({
    //         //几个参数需要注意一下
    //         type: "POST",//方法类型
    //         dataType: "json",//预期服务器返回的数据类型
    //         url: "/admin/project.message/remind",//url
    //         async: false,
    //         success: function (result) {
    //             if (result.code ==1) {
    //                 layer.open({
    //                     type: 2,
    //                     title: false,
    //                     closeBtn: 0, //不显示关闭按钮
    //                     shade: [0],
    //                     offset: 'rb', //右下角弹出
    //                     time: 2000, //2秒后自动关闭
    //                     anim: 2,
    //                     content: ['/admin/project.message/new', 'no'], //iframe的url，no代表不显示滚动条
    //                 });
    //             }else{
    //                 return false;
    //             }
    //         }
    //     });
    //     console.log('每隔5秒钟执行一次')
    //
    // },10000)


</script>


<script src="http://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
<script>
    jQuery(function ($) {
        // 连接服务端
        var socket = io('http://192.168.2.95:2120'); //这里当然填写真实的地址了
        // uid可以是自己网站的用户id，以便针对uid推送以及统计在线人数

    var uid = "<?php echo session('admin.id')?>";
        console.log(uid);
        // socket连接后以uid登录
        socket.on('connect', function () {
            socket.emit('login', uid);
        });
        // 后端推送来消息时
        socket.on('new_msg', function (msg) {
            console.log("收到消息：" + msg);
            layer.alert(msg, {
                time: 30*1000
                ,success: function(layero, index){
                    var timeNum = this.time/1000, setText = function(start){
                        layer.title((start ? timeNum : --timeNum) + ' 秒后关闭', index);
                    };
                    setText(!0);
                    this.timer = setInterval(setText, 1000);
                    if(timeNum <= 0) clearInterval(this.timer);
                }
                ,end: function(){
                    clearInterval(this.timer);
                }
            });
        });
        // 后端推送来在线数据时
        socket.on('update_online_count', function (online_stat) {
            console.log(online_stat);
        });
    })
</script>
<script src="/static/js/layim.js"></script>
<script src="/static/js/upload.js"></script>

<script type="text/javascript">
    //localStorage.clear();
    layui.use(['layim','upload'], function(layim){
        var user_id = "<?php echo session('admin.id')?>";
        // console.log(user_id);
        //基础配置
        layim.config({
            //获取主面板列表信息
            init: {
                url: "{:url('mall.cate/getList')}" //接口地址（返回的数据格式见下文）
                ,type: 'get' //默认get，一般可不填
                ,data: {
                    id:user_id
                } //额外参数
            }
            //获取群员接口
            ,members: {
                url: "{:url('mall.cate/getMembers')}" //接口地址（返回的数据格式见下文）
                ,type: 'get' //默认get，一般可不填
                ,data: {} //额外参数
            },
            uploadFile: {
                url: "{:url('mall.cate/uploadFile')}"
            }
            ,uploadImage: {
                url: "{:url('mall.cate/uploadimg')}"
            }
            ,notice:true
            ,brief: false //是否简约模式（默认false，如果只用到在线客服，且不想显示主面板，可以设置 true）
            ,title: 'CodexIM' //主面板最小化后显示的名称
            ,maxLength: 3000 //最长发送的字符长度，默认3000
            ,isfriend: true //是否开启好友（默认true，即开启）
            ,isgroup: true //是否开启群组（默认true，即开启）
            ,right: '0px' //默认0px，用于设定主面板右偏移量。该参数可避免遮盖你页面右下角已经的bar。
            ,chatLog: "{:url('mall.cate/chatlog')}" //聊天记录地址（如果未填则不显示）
            ,find: "{:url('mall.cate/groupindex')}" //查找好友/群的地址（如果未填则不显示）
            ,copyright: true //是否授权，如果通过官网捐赠获得LayIM，此处可填true
        });

        //建立WebSocket通讯
        var socket = new WebSocket('ws://192.168.2.95:7272');

        //连接成功时触发
        socket.onopen = function(){
            // 登录
            // var login_data = '{"type":"init","id":user_id,"username":username,"avatar":"","sign":""}';
            var login_data = '{"type":"init","id":"{$admin.id}","username":"{$admin.username}","avatar":"{$admin.head_img}","sign":"123456","status": "online"}';
            socket.send( login_data );
            console.log( login_data );
            console.log("websocket握手成功!");
        };

        //监听收到的消息
        socket.onmessage = function(res){
            //console.log(res.data);
            var data = eval("("+res.data+")");
            switch(data['message_type']){
                // 服务端ping客户端
                case 'ping':
                    socket.send('{"type":"ping"}');
                    break;
                // 登录 更新用户列表
                case 'init':
                    //console.log(data['id']+"登录成功");
                    //layim.getMessage(res.data); //res.data即你发送消息传递的数据（阅读：监听发送的消息）
                    break;
                //添加 用户
                case 'addUser':
                    //console.log(data.data);
                    layim.addList(data.data);
                    break;
                //删除 用户
                case 'delUser':
                    layim.removeList({
                        type: 'friend'
                        ,id: data.data.id //好友或者群组ID
                    });
                    break;
                // 添加 分组信息
                case 'addGroup':
                    // console.log(data.data);
                    layim.addList(data.data);
                    break;
                case 'delGroup':
                    layim.removeList({
                        type: 'group'
                        ,id: data.data.id //好友或者群组ID
                    });
                    break;
                // 检测聊天数据
                case 'chatMessage':
                    //console.log(data.data);
                    layim.getMessage(data.data);
                    break;
                // 离线消息推送
                case 'logMessage':
                    setTimeout(function(){layim.getMessage(data.data)}, 1000);
                    break;
                // 用户退出 更新用户列表
                case 'logout':
                    break;
                //聊天还有不在线
                case 'ctUserOutline':
                    console.log('11111');
                    //layer.msg('好友不在线', {'time' : 1000});
                    break;

            }
        };

        //layim建立就绪
        layim.on('ready', function(res){

            layim.on('sendMessage', function(res){
                //console.log(res);
                // 发送消息
                var mine = JSON.stringify(res.mine);
                var to = JSON.stringify(res.to);
                var login_data = '{"type":"chatMessage","data":{"mine":'+mine+', "to":'+to+'}}';
                socket.send( login_data );

            });
        });

    });
</script>
