<link rel="stylesheet" href="__STATIC__/admin/css/welcome.css?v={:time()}" media="all">
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md8">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-warning icon"></i>统计</div>
                            <div class="layui-card-body">
                                <div class="welcome-module">
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-blue">实时</span>
                                                        <h5>统计</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$page}</h1>
                                                        <small>待提交文件总页数</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-cyan">实时</span>
                                                        <h5>统计</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">1234</h1>
                                                        <small>待提交文件总页数</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-orange">实时</span>
                                                        <h5>统计</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">1234</h1>
                                                        <small>待提交文件总页数</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-green">实时</span>
                                                        <h5>订单统计</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">1234</h1>
                                                        <small>待提交文件总页数</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-credit-card icon icon-blue"></i>快捷入口</div>
                            <div class="layui-card-body">
                                <div class="welcome-module">
                                    <div class="layui-row layui-col-space10 layuimini-qiuck">

                                        {foreach $quicks as $vo}
                                        <div class="layui-col-xs3 layuimini-qiuck-module">
                                            <a layuimini-content-href="{:url($vo['href'])}" data-title="{$vo['title']}">
                                                <i class="{$vo['icon']|raw}"></i>
                                                <cite>{$vo['title']}</cite>
                                            </a>
                                        </div>
                                        {/foreach}

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-line-chart icon"></i>文件提醒</div>
                            <div class="layui-card-body">
                                <div class="layui-tab">
                                    <ul class="layui-tab-title">
                                        <li class="layui-this">待提交文件<span class="layui-badge">{$notfile}</span></li>
                                        <li>待安排文件<span class="layui-badge">{$arrangefile}</span></li>
                                        <li>待跟库文件<span class="layui-badge">{$updatedatabase}</span></li>
                                        <li>今日提交提醒<span class="layui-badge">{$todaytfile}</span></li>
                                        <li>进度异常提醒<span class="layui-badge">{$exceedfile}</span></li>
                                    </ul>
                                    <div class="layui-tab-content">
                                        <div class="layui-tab-item layui-show">
                                            <table id="notfile"></table>
                                        </div>
                                        <div class="layui-tab-item">
                                            <table id="arrangefile"></table>
                                        </div>
                                        <div class="layui-tab-item">
                                            <table id="updatedatabase"></table>
                                        </div>
                                        <div class="layui-tab-item">
                                            <table id="todayfile"></table>
                                        </div>
                                        <div class="layui-tab-item">
                                            <table id="exceedfile"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md4">

                <div class="layui-card">
                    <div class="layui-card-header"><i class="fa fa-bullhorn icon icon-tip"></i>系统公告</div>
                    <div class="layui-card-body layui-text">
                        <!--                        这里是一些公告

                                                code
                                                <table class="layui-table">
                                                    <colgroup>
                                                        <col width="150">
                                                        <col width="200">
                                                        <col>
                                                    </colgroup>
                                                    <thead>
                                                    <tr>
                                                        <th>昵称</th>
                                                        <th>加入时间</th>
                                                        <th>签名</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>贤心</td>
                                                        <td>2016-11-29</td>
                                                        <td>人生就像是一场修行</td>
                                                    </tr>
                                                    <tr>
                                                        <td>许闲心</td>
                                                        <td>2016-11-28</td>
                                                        <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
                                                    </tr>
                                                    </tbody>
                                                </table>-->


                        <div class="layuimini-notice">
                            <div class="layuimini-notice-title">公告1</div>
                            <div class="layuimini-notice-extra">2019-07-11 23:06</div>
                            <div class="layuimini-notice-content layui-hide">
xxxxxxxxxxxxxx
                            </div>
                        </div>
                        <div class="layuimini-notice">
                            <div class="layuimini-notice-title">公告2</div>
                            <div class="layuimini-notice-extra">2019-07-11 12:57</div>
                            <div class="layuimini-notice-content layui-hide">
xxxxxxxxxxxxxx
                            </div>
                        </div>
                        <div class="layuimini-notice">
                            <div class="layuimini-notice-title">新增treetable插件和菜单管理样式</div>
                            <div class="layuimini-notice-extra">2019-07-05 14:28</div>
                            <div class="layuimini-notice-content layui-hide">
xxxxxxxxxxxxxx
                            </div>
                        </div>
                        <div class="layuimini-notice">
                            <div class="layuimini-notice-title">修改logo缩放问题</div>
                            <div class="layuimini-notice-extra">2019-07-04 11:02</div>
                            <div class="layuimini-notice-content layui-hide">
xxxxxxxxxxxxxx
                            </div>
                        </div>
                        <div class="layuimini-notice">
                            <div class="layuimini-notice-title">修复左侧菜单缩放tab无法移动</div>
                            <div class="layuimini-notice-extra">2019-06-17 11:55</div>
                            <div class="layuimini-notice-content layui-hide">
xxxxxxxxxxxxxx
                            </div>
                        </div>
                        <div class="layuimini-notice">
                            <div class="layuimini-notice-title">修复多模块菜单栏展开有问题</div>
                            <div class="layuimini-notice-extra">2019-06-13 14:53</div>
                            <div class="layuimini-notice-content layui-hide">
xxxxxxxxxxxxxx
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-card">
                    <div class="layui-card-header"><i class="fa fa-fire icon"></i>内容模块</div>
                    <div class="layui-card-body layui-text">
                        <table class="layui-table">
                            <colgroup>
                                <col width="100">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>内容模块</td>
                                <td>
                                    内容模块
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="padding-bottom: 0;">
                                    <div class="layui-btn-container">
                                        xx
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="padding-bottom: 0;">
                                    <div class="layui-btn-container">
                                        xxx
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="layui-card">
                    <div class="layui-card-header"><i class="fa fa-paper-plane-o icon"></i>内容模块</div>
                    <div class="layui-card-body layui-text layadmin-text">
                        <p>内容模块</p>
                        <p>内容模块</p>
                        <p>内容模块</p>
                        <p>内容模块</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    layui.config({
        base: '/static/plugs/layui-soul-table/',   // 第三方模块所在目录
        version: 'v1.6.0' // 插件版本号
    }).extend({
        soulTable: 'ext/soulTable',
        tableChild: 'ext/tableChild',
        tableMerge: 'ext/tableMerge',
        tableFilter: 'ext/tableFilter',
        excel: 'ext/excel',
    });
    layui.use(['form', 'table', 'soulTable',], function () {
        var table = layui.table;
        var table1 = layui.table;
        var table2 = layui.table;
        var table3 = layui.table;
        var table4 = layui.table;
        var soulTable = layui.soulTable;
        //第一个实例
        table.render({
            elem: '#notfile'
            // ,skin: 'nob' //行边框风格
            , even: true //开启隔行背景
            , drag: 'simple'
            , overflow: 'tips'
            , defaultToolbar: ['filter', 'print', 'exports']
            , url: "{:url('notfile')}"
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'customer_file_code', title: '文件编号', filter: true},
                {
                    title: '公司名称', filter: true, templet: function (d) {
                        return d.contract.company_name;
                    }
                },
                {field: 'customer_file_name', title: '文件名称', filter: true},
                {field: 'customer_submit_date', title: '客户期望提交日期', filter: true, sort: true}
            ]]
            , done: function () {
                soulTable.render(this);
            }
            , filter: {
                items: ['column', 'data', 'condition', 'editCondition'] // 只显示表格列和导出excel两个菜单项
                , bottom: true
            }
        });

        //第二个实例
        table1.render({
            elem: '#todayfile'
            , skin: 'nob' //行边框风格
            , even: true //开启隔行背景
            , overflow: 'tips'
            , url: "{:url('todaytfile')}"
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'customer_file_code', title: '文件编号', filter: true},
                {
                    title: '公司名称', templet: function (d) {
                        return d.contract.company_name;
                    }
                },
                {field: 'customer_file_name', title: '文件名称',},
                {field: 'customer_submit_date', title: '客户期望提交日期', sort: true}

            ]]
            , done: function () {
                soulTable.render(this);
            }
            , filter: {
                items: ['column', 'data', 'condition', 'editCondition'] // 只显示表格列和导出excel两个菜单项
                // , bottom: false
            }
        });

        //第三个实例
        table2.render({
            elem: '#exceedfile'
            , skin: 'nob' //行边框风格
            , even: true //开启隔行背景
            , overflow: 'tips'
            , url: "{:url('exceedfile')}"
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'customer_file_code', filter: true, title: '文件编号'},
                {
                    title: '公司名称', filter: true, templet: function (d) {
                        return d.contract.company_name;
                    }
                },
                {field: 'customer_file_name', title: '文件名称', filter: true},
                {field: 'customer_submit_date', title: '客户期望提交日期', filter: true, sort: true}

            ]]
            , done: function () {
                soulTable.render(this);
            }
            , filter: {
                items: ['column', 'data', 'condition', 'editCondition'] // 只显示表格列和导出excel两个菜单项
                , bottom: false
            }
        });

        //第四个实例
        table3.render({
            elem: '#arrangefile'
            , skin: 'nob' //行边框风格
            , even: true //开启隔行背景
            , overflow: 'tips'
            , url: "{:url('arrangefile')}"
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'customer_file_code', filter: true, title: '文件编号'},
                {
                    title: '公司名称', filter: true, templet: function (d) {
                        return d.contract.company_name;
                    }
                },
                {field: 'customer_file_name', title: '文件名称', filter: true},
                {field: 'customer_submit_date', title: '客户期望提交日期', filter: true, sort: true}

            ]]
            , done: function () {
                soulTable.render(this);
            }
            , filter: {
                items: ['column', 'data', 'condition', 'editCondition'] // 只显示表格列和导出excel两个菜单项
                , bottom: false
            }
        });
        //第五个实例
        table4.render({
            elem: '#updatedatabase'
            , skin: 'nob' //行边框风格
            , even: true //开启隔行背景
            , overflow: 'tips'
            , url: "{:url('updatedatabase')}"
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'customer_file_code', filter: true, title: '文件编号'},
                {
                    title: '公司名称', filter: true, templet: function (d) {
                        return d.contract.company_name;
                    }
                },
                {field: 'customer_file_name', title: '文件名称', filter: true},
                {field: 'customer_submit_date', title: '客户期望提交日期', filter: true, sort: true}

            ]]
            , done: function () {
                soulTable.render(this);
            }
            , filter: {
                items: ['column', 'data', 'condition', 'editCondition'] // 只显示表格列和导出excel两个菜单项
                , bottom: false
            }
        });
    });
</script>