
<div class="layuimini-container">
    <div class="layuimini-main">
        <a class="layui-btn layui-btn-sm" id="reload" ><i class="layui-icon layui-icon-refresh"></i>重载</a>
        <a class="layui-btn layui-btn-sm layui-btn-normal" id="clear" ><i class="layui-icon layui-icon-delete"></i>清除缓存</a>
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('customer.demand/add')}"
               data-auth-edit="{:auth('customer.demand/edit')}"
               data-auth-delete="{:auth('customer.demand/delete')}"
               data-auth-file="{:auth('customer.filaa/index')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>
