<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">

        <input type="hidden" name="description_id" class="layui-input" placeholder="请输入description_id"
               value="{$row.description_id|default=''}">

        <input type="hidden" name="type" class="layui-input" placeholder="请输入评估类型" value="{$row.type|default=''}">
<!--        <div class="layui-form-item">
            <label class="layui-form-label">评估类型</label>
            <div class="layui-input-block">

            </div>
        </div>-->
        {switch $row.type }
        {case 1 }
        <div class="layui-form-item">
            <label class="layui-form-label">预排布局格式</label>
            <div class="layui-input-block">
                <select name="yp_layout_format" lay-verify="required">
                    <option value=''></option>
                    {foreach $getYpLayoutFormatList as $k=>$v}
                    <option value='{$k}' {in name="k" value="$row.yp_layout_format"} selected=""{/in}>{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">预排内容检查</label>
            <div class="layui-input-block">
                <select name="yp_content_check" lay-verify="required">
                    <option value=''></option>
                    {foreach $getYpContentCheckList as $k=>$v}
                    <option value='{$k}' {in name="k" value="$row.yp_content_check"} selected=""{/in}>{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">预排客户要求</label>
            <div class="layui-input-block">
                <select name="yp_customer_request" lay-verify="required">
                    <option value=''></option>
                    {foreach $getYpCustomerRequestList as $k=>$v}
                    <option value='{$k}' {in name="k" value="$row.yp_customer_request"} selected=""{/in}>{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">预排综合评估</label>
            <div class="layui-input-block">
                <select name="yp_overall_evaluation" lay-verify="required">
                    <option value=''></option>
                    {foreach $getYpOverallEvaluationList as $k=>$v}
                    <option value='{$k}' {in name="k" value="$row.yp_overall_evaluation"} selected=""{/in}>{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">预排备注</label>
            <div class="layui-input-block">
                <!--<input type="text" name="yp_remark" class="layui-input" lay-verify="required" placeholder="请输入预排备注"-->
                       <!--value="{$row.yp_remark|default=''}">-->
                <textarea name="hp_remark" placeholder="请输入预排备注" class="layui-textarea">{$row.yp_remark|default=''}</textarea>
            </div>
        </div>
        {/case}

        {case 2 }
        <div class="layui-form-item">
            <label class="layui-form-label">后排排布局格式</label>
            <div class="layui-input-block">
                <select name="hp__layout_format" lay-verify="required">
                    <option value=''></option>
                    {foreach $getHpLayoutFormatList as $k=>$v}
                    <option value='{$k}' {in name="k" value="$row.hp__layout_format"} selected=""{/in}>{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">后排内容检查</label>
            <div class="layui-input-block">
                <select name="hp_content_check" lay-verify="required">
                    <option value=''></option>
                    {foreach $getHpContentCheckList as $k=>$v}
                    <option value='{$k}' {in name="k" value="$row.hp_content_check"} selected=""{/in}>{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">后排客户要求</label>
            <div class="layui-input-block">
                <select name="hp_customer_request" lay-verify="required">
                    <option value=''></option>
                    {foreach $getHpCustomerRequestList as $k=>$v}
                    <option value='{$k}' {in name="k" value="$row.hp_customer_request"} selected=""{/in}>{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">后排综合评估</label>
            <div class="layui-input-block">
                <select name="hp_overall_evaluation" lay-verify="required">
                    <option value=''></option>
                    {foreach $getHpOverallEvaluationList as $k=>$v}
                    <option value='{$k}' {in name="k" value="$row.hp_overall_evaluation"} selected=""{/in}>{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">后排备注</label>
            <div class="layui-input-block">
                <!--<input type="text" name="hp_remark" class="layui-input" lay-verify="required" placeholder="请输入后排备注"-->
                       <!--value="{$row.hp_remark|default=''}">-->
                <textarea name="hp_remark" placeholder="请输入后排备注" class="layui-textarea">{$row.hp_remark|default=''}</textarea>
            </div>
        </div>
        {/case}
        {case 3 }
        <div class="layui-form-item">
            <label class="layui-form-label">翻译漏译</label>
            <div class="layui-input-block">
                <select name="tr_omissions" lay-verify="required">
                    <option value=''></option>
                    {foreach $getTrOmissionsList as $k=>$v}
                    <option value='{$k}' {in name="k" value="$row.tr_omissions"} selected=""{/in}>{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">翻译多译</label>
            <div class="layui-input-block">
                <select name="tr_redundant" lay-verify="required">
                    <option value=''></option>
                    {foreach $getTrRedundantList as $k=>$v}
                    <option value='{$k}' {in name="k" value="$row.tr_redundant"} selected=""{/in}>{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">翻译理解程度</label>
            <div class="layui-input-block">
                <select name="tr_understanding" lay-verify="required">
                    <option value=''></option>
                    {foreach $getTrUnderstandingList as $k=>$v}
                    <option value='{$k}' {in name="k" value="$row.tr_understanding"} selected=""{/in}>{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">打字,数据错误</label>
            <div class="layui-input-block">
                <select name="tr_input_error" lay-verify="required">
                    <option value=''></option>
                    {foreach $getTrInputErrorList as $k=>$v}
                    <option value='{$k}' {in name="k" value="$row.tr_input_error"} selected=""{/in}>{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">翻译自身术语不统一</label>
            <div class="layui-input-block">
                <select name="tr_not_uniform" lay-verify="required">
                    <option value=''></option>
                    {foreach $getTrNotUniformList as $k=>$v}
                    <option value='{$k}' {in name="k" value="$row.tr_not_uniform"} selected=""{/in}>{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">翻译未和其他译者统一术语</label>
            <div class="layui-input-block">
                <select name="tr_not_uniform_with" lay-verify="required">
                    <option value=''></option>
                    {foreach $getTrNotUniformWithList as $k=>$v}
                    <option value='{$k}' {in name="k" value="$row.tr_not_uniform_with"} selected=""{/in}>{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">术语翻译不恰当</label>
            <div class="layui-input-block">
                <select name="tr_inappropriate_terminology" lay-verify="required">
                    <option value=''></option>
                    {foreach $getTrInappropriateTerminologyList as $k=>$v}
                    <option value='{$k}' {in name="k" value="$row.tr_inappropriate_terminology"} selected=""{/in}>{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">翻译标点符号不恰当</label>
            <div class="layui-input-block">
                <select name="tr_improper_punctuation" lay-verify="required">
                    <option value=''></option>
                    {foreach $getTrImproperPunctuationList as $k=>$v}
                    <option value='{$k}' {in name="k" value="$row.tr_improper_punctuation"} selected=""{/in}>{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">翻译不符合习惯</label>
            <div class="layui-input-block">
                <select name="tr_out_habit" lay-verify="required">
                    <option value=''></option>
                    {foreach $getTrOutHabitList as $k=>$v}
                    <option value='{$k}' {in name="k" value="$row.tr_out_habit"} selected=""{/in}>{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">翻译语法错误</label>
            <div class="layui-input-block">
                <select name="tr_syntax_error" lay-verify="required">
                    <option value=''></option>
                    {foreach $getTrSyntaxErrorList as $k=>$v}
                    <option value='{$k}' {in name="k" value="$row.tr_syntax_error"} selected=""{/in}>{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">翻译表达流畅度</label>
            <div class="layui-input-block">
                <select name="tr_fluency_of_expression" lay-verify="required">
                    <option value=''></option>
                    {foreach $getTrFluencyOfExpressionList as $k=>$v}
                    <option value='{$k}' {in name="k" value="$row.tr_fluency_of_expression"} selected=""{/in}>{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">翻译是否认真参考参考文件</label>
            <div class="layui-input-block">
                <select name="tr_reference" lay-verify="required">
                    <option value=''></option>
                    {foreach $getTrReferenceList as $k=>$v}
                    <option value='{$k}' {in name="k" value="$row.tr_reference"} selected=""{/in}>{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">翻译既往纠正问题反复</label>
            <div class="layui-input-block">
                <select name="tr_repeatedly" lay-verify="required">
                    <option value=''></option>
                    {foreach $getTrRepeatedlyList as $k=>$v}
                    <option value='{$k}' {in name="k" value="$row.tr_repeatedly"} selected=""{/in}>{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">翻译备注</label>
            <div class="layui-input-block">
                <!--<input type="text" name="tr_remark" class="layui-input" lay-verify="required" placeholder="请输入翻译备注"-->
                       <!--value="{$row.tr_remark|default=''}">-->
                <textarea name="hp_remark" placeholder="请输入翻译备注" class="layui-textarea">{$row.tr_remark|default=''}</textarea>
            </div>
        </div>
        {/case}
        {/switch}
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>