<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">

        <input type="hidden" name="demand_id" value="{$a}">
        <div class="layui-form-item">
            <label class="layui-form-label required">文件名称</label>
            <div class="layui-input-block layuimini-upload">
                <!--<input name="file_name" class="layui-input layui-col-xs6" lay-verify="required"  placeholder="请上传文件名称" value="">-->
                <input type="text" name="customer_file_name" class="layui-input" lay-verify="required"
                       placeholder="请输入文件名称" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文件页数</label>
            <div class="layui-input-block">
                <input type="text" name="page" class="layui-input" lay-verify="required" placeholder="请输入文件页数" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">源语数量</label>
            <div class="layui-input-block">
                <input type="number" name="number_of_words" class="layui-input" lay-verify="required"
                       placeholder="请输入源语数量" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文件类型</label>
            <div class="layui-input-block">
                <select name="customer_file_type" lay-verify="required">
                    <option value="">请选择文件类型</option>
                    {foreach $f as $k1=>$v }
                    <option value="{$v.id}">{$v.content}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">服务</label>
            <div class="layui-input-block">
                <div id="service"></div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">语种</label>
            <div class="layui-input-block">
                <select name="language" lay-verify="required">
                    <option value="">请选择语种</option>
                    {foreach $h as $k1=>$v }
                    <option value="{$v.id}">{$v.content}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">单价</label>
            <div class="layui-input-block">
                <input type="text" name="unit_price" class="layui-input" lay-verify="required" placeholder="请输入单价"
                       value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">单位</label>
            <div class="layui-input-block">
                <select name="unit" lay-verify="required">
                    <option value="">请选择一个单位</option>
                    {foreach $d as $k1=>$v }
                    <option value="{$v.id}">{$v.content}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">报价数量</label>
            <div class="layui-input-block">
                <input type="text" name="quotation_number" class="layui-input" lay-verify="required"
                       placeholder="请输入报价数量" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">税率</label>
            <div class="layui-input-block">
                <select name="tax_rate" lay-verify="required">
                    <option value="">请选择税率</option>
                    {foreach $s as $k=>$v }
                    <option value="{$v.id}">{$v.content}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <!--        <div class="layui-form-item">
                    <label class="layui-form-label">增值税</label>
                    <div class="layui-input-block">
                        <input type="text" name="vat" class="layui-input" lay-verify="required" placeholder="请输入增值税" value="">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">报价金额</label>
                    <div class="layui-input-block">
                        <input type="text" name="quotation_price" class="layui-input" lay-verify="required" placeholder="请输入报价金额" value="">
                    </div>
                </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">项目经理</label>
            <div class="layui-input-block">

                <select name="mid" lay-verify="required" lay-search>
                    <option value="">请选择项目经理</option>
                    {foreach $b as $key=>$v }
                    <option value="{$v.id}">{$v.username}</option>
                    {/foreach}
                </select>
                <!--<input type="text" name="mid" class="layui-input" lay-verify="required" placeholder="请输入项目经理id" value="">-->
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户期望提交日期</label>
            <div class="layui-input-block">
                <input type="text" name="customer_submit_date" data-date="" autocomplete="off" data-date-type="datetime"
                       class="layui-input" lay-verify="required" placeholder="请输入客户期望提交日期" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户要求</label>
            <div class="layui-input-block">
                <!--<input type="text" name="customer_file_request" class="layui-input" lay-verify="required" placeholder="请输入客户要求" value="">-->
                <textarea name="customer_file_request" placeholder="请输入客户要求" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户参考文件</label>
            <div class="layui-input-block">
                <!--<input type="text" name="customer_file_reference" class="layui-input" lay-verify="required" placeholder="请输入客户参考文件" value="">-->
                <textarea name="customer_file_reference" placeholder="请输入客户参考文件" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户参考文件备注</label>
            <div class="layui-input-block">
                <!--<input type="text" name="customer_file_remark" class="layui-input" lay-verify="required" placeholder="请输入客户参考文件备注" value="">-->
                <textarea name="customer_file_remark" placeholder="备注" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>

<script>
    //服务
    var g = '<?php echo  json_encode($g);?>';
    var g = JSON.parse(g);
    var service = xmSelect.render({
        el: '#service',
        language: 'zn',
        tips: '请选择服务',
        name: 'service',
        filterable: true,
        toolbar: {
            show: true,
            list: ['ALL', 'CLEAR', 'REVERSE']
        },
        data: g
    })
</script>