<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('customer.file/add')}"
               data-auth-edit="{:auth('customer.file/edit')}"
               data-auth-delete="{:auth('customer.file/delete')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
        <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button>
    </div>
</script>

<script>
    //来稿需求id
    var demand_id="<?php echo $demand_id?>";
</script>