<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('customer.filaa/add')}"
               data-auth-edit="{:auth('customer.filaa/edit')}"
               data-auth-delete="{:auth('customer.filaa/delete')}"
               data-auth-ddd="{:auth('customer.filaa/ddd')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
        <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button>
    </div>
</script>

<script>
    //来稿需求id
    var demand_id="<?php echo $demand_id?>";
    var data = '{$b|raw}';
    var colsData = JSON.parse(data);
        console.log(colsData);
    var init = {
        table_elem: '#currentTable',
        table_render_id: 'currentTableRenderId',
        index_url: 'customer.filaa/index',
        add_url: 'customer.filaa/add',
        edit_url: 'customer.filaa/edit',
        delete_url: 'customer.filaa/delete',
        export_url: 'customer.filaa/export',
        modify_url: 'customer.filaa/modify',
        quotation_url: 'customer.filaa/quotation',
    };
    var auth=['refresh',
        [{
            text: '添加',
            url: init.add_url+'?id='+demand_id,
            method: 'open',
            auth: 'ddd',
            class: 'layui-btn layui-btn-normal layui-btn-sm',
            icon: 'fa fa-plus ',
            extend: 'data-full="true"',
        }],
        [{
            text: '生成报价单',
            url: init.quotation_url,
            method: 'request',
            auth: 'add',
            checkbox:true,
            class: 'layui-btn layui-btn-normal layui-btn-sm',
        }],
        'delete',''];
    // console.log(typeof (auth));
</script>