<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        
        <div class="layui-form-item">
            <label class="layui-form-label">写入id</label>
            <div class="layui-input-block">
                <input type="text" name="writer_id" class="layui-input" lay-verify="required" placeholder="请输入写入id" value="{$row.writer_id|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">最后更新人id</label>
            <div class="layui-input-block">
                <input type="text" name="up_id" class="layui-input"  placeholder="请输入最后更新人id" value="{$row.up_id|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户id方便查询也加上吧</label>
            <div class="layui-input-block">
                <input type="text" name="customer_id" class="layui-input"  placeholder="请输入客户id方便查询也加上吧" value="{$row.customer_id|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">来稿需求id</label>
            <div class="layui-input-block">
                <input type="text" name="demand_id" class="layui-input" lay-verify="required" placeholder="请输入来稿需求id" value="{$row.demand_id|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">文件状态</label>
            <div class="layui-input-block layuimini-upload">
                <input name="file_status" class="layui-input layui-col-xs6"   placeholder="请上传文件状态" value="{$row.file_status|default=''}">
                <div class="layuimini-upload-btn">
                    <span><a class="layui-btn" data-upload="file_status" data-upload-number="one" data-upload-exts="*" data-upload-icon="file"><i class="fa fa-upload"></i> 上传</a></span>
                    <span><a class="layui-btn layui-btn-normal" id="select_file_status" data-upload-select="file_status" data-upload-number="one" data-upload-mimetype="*"><i class="fa fa-list"></i> 选择</a></span>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文件编号</label>
            <div class="layui-input-block">
                <input type="text" name="customer_file_code" class="layui-input" lay-verify="required" placeholder="请输入文件编号" value="{$row.customer_file_code|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文件名称</label>
            <div class="layui-input-block">
                <input type="text" name="customer_file_name" class="layui-input" lay-verify="required" placeholder="请输入文件名称" value="{$row.customer_file_name|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文件页数</label>
            <div class="layui-input-block">
                <input type="text" name="page" class="layui-input" lay-verify="required" placeholder="请输入文件页数" value="{$row.page|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">源语数量</label>
            <div class="layui-input-block">
                <input type="text" name="number_of_words" class="layui-input" lay-verify="required" placeholder="请输入源语数量" value="{$row.number_of_words|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文件类型</label>
            <div class="layui-input-block">
                <input type="text" name="customer_file_type" class="layui-input" lay-verify="required" placeholder="请输入文件类型" value="{$row.customer_file_type|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">服务</label>
            <div class="layui-input-block">
                <input type="text" name="service" class="layui-input" lay-verify="required" placeholder="请输入服务" value="{$row.service|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">语种</label>
            <div class="layui-input-block">
                <input type="text" name="language" class="layui-input" lay-verify="required" placeholder="请输入语种" value="{$row.language|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">单价</label>
            <div class="layui-input-block">
                <input type="text" name="unit_price" class="layui-input" lay-verify="required" placeholder="请输入单价" value="{$row.unit_price|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">单位</label>
            <div class="layui-input-block">
                <input type="text" name="unit" class="layui-input" lay-verify="required" placeholder="请输入单位" value="{$row.unit|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">报价数量</label>
            <div class="layui-input-block">
                <input type="text" name="quotation_number" class="layui-input" lay-verify="required" placeholder="请输入报价数量" value="{$row.quotation_number|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">税率</label>
            <div class="layui-input-block">
                <input type="text" name="tax_rate" class="layui-input" lay-verify="required" placeholder="请输入税率" value="{$row.tax_rate|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">增值税</label>
            <div class="layui-input-block">
                <input type="text" name="vat" class="layui-input" lay-verify="required" placeholder="请输入增值税" value="{$row.vat|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">报价金额</label>
            <div class="layui-input-block">
                <input type="text" name="quotation_price" class="layui-input" lay-verify="required" placeholder="请输入报价金额" value="{$row.quotation_price|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户期望提交日期</label>
            <div class="layui-input-block">
                <input type="text" name="customer_submit_date" class="layui-input" lay-verify="required" placeholder="请输入客户期望提交日期" value="{$row.customer_submit_date|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户要求</label>
            <div class="layui-input-block">
                <input type="text" name="customer_file_request" class="layui-input" lay-verify="required" placeholder="请输入客户要求" value="{$row.customer_file_request|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户参考文件</label>
            <div class="layui-input-block">
                <input type="text" name="customer_file_reference" class="layui-input" lay-verify="required" placeholder="请输入客户参考文件" value="{$row.customer_file_reference|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户参考文件备注</label>
            <div class="layui-input-block">
                <input type="text" name="customer_file_remark" class="layui-input" lay-verify="required" placeholder="请输入客户参考文件备注" value="{$row.customer_file_remark|default=''}">
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>