<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">

        <!--        <div class="layui-form-item">
                    <label class="layui-form-label">来稿需求id</label>
                    <div class="layui-input-block">
                        <input type="text" name="demand_id" class="layui-input" lay-verify="required" placeholder="请输入来稿需求id" value="{$row.demand_id|default=''}">
                    </div>
                </div>-->


        <!--<div class="layui-form-item">-->
            <!--<label class="layui-form-label">文件状态</label>-->
            <!--<div class="layui-input-block">-->
                <!--<input type="radio" name="file_status" value="1" title="拒绝"-->
                       <!--{if (1==$row.file_status)}-->
                       <!--checked='checked'-->
                       <!--{/if}-->
                <!--&gt;-->
                <!--<input type="radio" name="file_status" value="2" title="接受"-->
                       <!--{if (2==$row.file_status)}-->
                       <!--checked='checked'-->
                       <!--{/if}-->
                <!--&gt;-->
                <!--<input type="radio" name="file_status" value="0" title="未确认"-->
                       <!--{if (0==$row.file_status)}-->
                       <!--checked='checked'-->
                       <!--{/if}-->
                <!--&gt;-->
            <!--</div>-->
        <!--</div>-->
        <input type="hidden" name="demand_id" value="{$row.demand_id|default=''}">
        <div class="layui-form-item">
            <label class="layui-form-label required">文件名称</label>
            <div class="layui-input-block layuimini-upload">
                <input type="text" name="customer_file_name" class="layui-input" lay-verify="required"
                       placeholder="请输入文件名称" value="{$row.customer_file_name|default=''}">
                <!--<input name="file_name" class="layui-input layui-col-xs6" lay-verify="required"  placeholder="请上传文件名称" value="{$row.file_name|default=''}">-->
                <!--<div class="layuimini-upload-btn">-->
                <!--<span><a class="layui-btn" data-upload="file_name" data-upload-number="one" data-upload-exts="*" data-upload-icon="file"><i class="fa fa-upload"></i> 上传</a></span>-->
                <!--<span><a class="layui-btn layui-btn-normal" id="select_file_name" data-upload-select="file_name" data-upload-number="one" data-upload-mimetype="*"><i class="fa fa-list"></i> 选择</a></span>-->
                <!--</div>-->
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">项目经理</label>
            <div class="layui-input-block">
                <!--<input type="text" name="mid" class="layui-input" lay-verify="required" placeholder="请输入项目经理id" value="{$row.mid|default=''}">-->
                <select name="mid" lay-verify="required" lay-search>
                    <option value="">请选择项目经理</option>
                    {foreach $b as $key=>$v }
                    <option value="{$v.id}" {if condition="$row.mid eq $v.id" } selected="selected" {
                    /if}>{$v.username}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文件页数</label>
            <div class="layui-input-block">
                <input type="text" name="page" class="layui-input" lay-verify="required" placeholder="请输入文件页数"
                       value="{$row.page|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">源语数量</label>
            <div class="layui-input-block">
                <input type="text" name="number_of_words" class="layui-input" lay-verify="required"
                       placeholder="请输入源语数量" value="{$row.number_of_words|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文件类型</label>
            <div class="layui-input-block">
                <select name="customer_file_type">
                    <option value="">请选择文件类型</option>
                    {foreach $f as $k1=>$v }
                    <option value="{$v.id}" {in name="$v.id" value="$row.customer_file_type"} selected=""{/in}>{$v.content}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">服务</label>
            <div class="layui-input-block">
                <div id="service"></div>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">语种</label>
            <div class="layui-input-block">
                <select name="language" lay-verify="required">
                    <option value="">请选择语种</option>
                    {foreach $h as $k1=>$v }
                    <option value="{$v.id}" {in name="$v.id" value="$row.language"} selected=""{/in}>{$v.content}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">单价</label>
            <div class="layui-input-block">
                <input type="text" name="unit_price" class="layui-input" lay-verify="required" placeholder="请输入单价"
                       value="{$row.unit_price|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">单位</label>
            <div class="layui-input-block">
                <select name="unit" >
                    <option value="">请选择一个单位</option>
                    {foreach $d as $k1=>$v }
                    <option value="{$v.id}"  {in name="$v.id" value="$row.unit"} selected=""{/in}>{$v.content}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">报价数量</label>
            <div class="layui-input-block">
                <input type="text" name="quotation_number" class="layui-input" lay-verify="required"
                       placeholder="请输入报价数量" value="{$row.quotation_number|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">税率</label>
            <div class="layui-input-block">
                <select name="tax_rate" lay-verify="required">
                    <option value="">请选择税率</option>
                    {foreach $s as $k=>$v }
                    <option value="{$v.id}" {in name="$v.id" value="$row.tax_rate"} selected=""{/in}>{$v.content}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <!--        <div class="layui-form-item">
                    <label class="layui-form-label">增值税</label>
                    <div class="layui-input-block">
                        <input type="text" name="vat" class="layui-input" lay-verify="required" placeholder="请输入增值税" value="{$row.vat|default=''}">
                    </div>
                </div>-->
        <!--<div class="layui-form-item">-->
        <!--<label class="layui-form-label">报价金额</label>-->
        <!--<div class="layui-input-block">-->
        <!--<input type="text" name="quotation_price" class="layui-input" lay-verify="required" placeholder="请输入报价金额" value="{$row.quotation_price|default=''}" disabled>-->
        <!--</div>-->
        <!--</div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">项目经理</label>
            <div class="layui-input-block">
                <!--<input type="text" name="mid" class="layui-input" lay-verify="required" placeholder="请输入项目经理id" value="{$row.mid|default=''}">-->
                <select name="mid" lay-verify="required" lay-search>
                    <option value="">请选择项目经理</option>
                    {foreach $b as $key=>$v }
                    <option value="{$v.id}"  {$v.id==$row.mid?'selected':''}>{$v.username}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户期望提交日期</label>
            <div class="layui-input-block">
                <input type="text" name="customer_submit_date" data-date="" data-date-type="datetime" autocomplete="off"
                       class="layui-input"  placeholder="请输入客户期望提交日期"
                       value="{$row.customer_submit_date|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">交付日期</label>
            <div class="layui-input-block">
                <input type="date" name="completion_date"  autocomplete="off"
                       class="layui-input"  placeholder="交付日期"
                       value="{$row.completion_date|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否首次合作</label>
            <div class="layui-input-block">
                {foreach $getCooperationFirstList as $k=>$v}
                <input type="radio" name="cooperation_first" value="{$k}" title="{$v}" {in name="k"
                       value="$row.cooperation_first" }checked="" {/in}>
                {/foreach}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">生成项目需求</label>
            <div class="layui-input-block">
                {foreach $getCooperationFirstList as $k=>$v}
                <input type="radio" name="generate_demand" value="{$k}" title="{$v}" {in name="k"
                       value="$row.generate_demand" }checked="" {/in}>
                {/foreach}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">结算状态</label>
            <div class="layui-input-block">
                <!--<input type="text" name="mid" class="layui-input" lay-verify="required" placeholder="请输入项目经理id" value="{$row.mid|default=''}">-->
                <select name="c_status"  lay-search>
                    <option value="">请选择结算状态{$row.c_status}</option>
                    {foreach $jsstatus as $key=>$v }
                    <option value="{$v.id}"  {$v.id==$row.c_status?'selected':''} >{$v.content}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">交付数量</label>
            <div class="layui-input-block">
                <input type="number" name="completion_quantity" class="layui-input"
                       placeholder="请输入交付数量" value="{$row.completion_quantity|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">未税金额</label>
            <div class="layui-input-block">
                <input type="number" name="no_vat" class="layui-input"
                       placeholder="请输入未税金额" value="{$row.no_vat|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">折扣</label>
            <div class="layui-input-block">
                <input type="number" name="discount" class="layui-input"
                       placeholder="请输入折扣" value="{$row.discount|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">po号</label>
            <div class="layui-input-block">
                <input type="text" name="po_number" class="layui-input"
                       placeholder="请输入po号" value="{$row.po_number|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">po金额</label>
            <div class="layui-input-block">
                <input type="number" name="po_amount" class="layui-input"
                       placeholder="请输入po金额" value="{$row.po_amount|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">po剩余金额</label>
            <div class="layui-input-block">
                <input type="number" name="po_balance" class="layui-input"
                       placeholder="请输入po剩余金额" value="{$row.po_balance|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">折扣</label>
            <div class="layui-input-block">
                <input type="number" name="discount" class="layui-input"
                       placeholder="请输入折扣" value="{$row.discount|default=''}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">开票金额</label>
            <div class="layui-input-block">
                <input type="number" name="fapiao_amount" class="layui-input"
                       placeholder="请输入开票金额" value="{$row.fapiao_amount|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">开票日期</label>
            <div class="layui-input-block">
                <input type="date" name="fapiao_date" class="layui-input"
                       placeholder="请输入开票日期" value="{$row.fapiao_date|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">发票编码</label>
            <div class="layui-input-block">
                <input type="text" name="fapiao_code" class="layui-input"
                       placeholder="请输入发票编码" value="{$row.fapiao_code|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">预付款</label>
            <div class="layui-input-block">
                {foreach $getCooperationFirstList as $k=>$v}
                <input type="radio" name="pre_payment" value="{$k}" title="{$v}" {in name="k"
                       value="$row.pre_payment" }checked="" {/in}>
                {/foreach}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">预付款日期</label>
            <div class="layui-input-block">
                <input type="date" name="pre_payment_date" class="layui-input"
                       placeholder="请输入预付款日期" value="{$row.pre_payment_date|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">预付款金额</label>
            <div class="layui-input-block">
                <input type="number" name="pre_payment_amount" class="layui-input"
                       placeholder="请输入预付款金额" value="{$row.pre_payment_amount|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">余款</label>
            <div class="layui-input-block">
                <input type="number" name="the_balance" class="layui-input"
                       placeholder="请输入余款" value="{$row.the_balance|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">余款支付日期</label>
            <div class="layui-input-block">
                <input type="date" name="date_of_balance" class="layui-input"
                       placeholder="余款支付日期" value="{$row.date_of_balance|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">余款付清</label>
            <div class="layui-input-block">
                {foreach $getCooperationFirstList as $k=>$v}
                <input type="radio" name="balance_done" value="{$k}" title="{$v}" {in name="k"
                       value="$row.balance_done" }checked="" {/in}>
                {/foreach}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">付款完成时间</label>
            <div class="layui-input-block">
                <input type="text" name="payment_time" class="layui-input" data-date="" data-date-type="datetime" autocomplete="off"
                       placeholder="付款完成时间" value="{$row.payment_time|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户要求</label>
            <div class="layui-input-block">
                <!--<input type="text" name="customer_file_request" class="layui-input" lay-verify="required" placeholder="请输入客户要求" value="{$row.customer_file_request|default=''}">-->
                <textarea name="customer_file_request" placeholder="请输入客户要求" class="layui-textarea">{$row.customer_file_request|default=''}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户参考文件</label>
            <div class="layui-input-block">
                <!--<input type="text" name="customer_file_reference" class="layui-input" lay-verify="required" placeholder="请输入客户参考文件" value="{$row.customer_file_reference|default=''}">-->
                <textarea name="customer_file_reference" placeholder="请输入客户参考文件" class="layui-textarea"> {$row.customer_file_reference|default=''}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户参考文件备注</label>
            <div class="layui-input-block">
                <!--<input type="text" name="customer_file_remark" class="layui-input" lay-verify="required" placeholder="请输入客户参考文件备注" value="{$row.customer_file_remark|default=''}">-->
                <textarea name="customer_file_remark" placeholder="备注" class="layui-textarea">{$row.customer_file_remark|default=''}</textarea>


            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>

<script>
    //服务
    var n = '<?php echo  json_encode($n);?>';
    var n = JSON.parse(n);
    var service = xmSelect.render({
        el: '#service',
        language: 'zn',
        tips: '请选择服务',
        name: 'service',
        filterable: true,
        toolbar: {
            show: true,
            list: ['ALL', 'CLEAR', 'REVERSE']
        },
        data: n
    })
</script>
