<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('project.uploadfile/add')}"
               data-auth-edit="{:auth('project.uploadfile/edit')}"
               data-auth-uploadfile="{:auth('project.uploadfile/uploadfile')}"
               data-auth-delete="{:auth('project.uploadfile/delete')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>

<script type="text/html" id="barDemo">

    {{#  if(d.download == 0){ }}
    <div><a href="/admin/project.uploadfile/down?id={{d.id}}" class="layui-table-link">下载</a></div>
    {{#  } else { }}

    {{#  } }}
</script>
