<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        
        <div class="layui-form-item">
            <label class="layui-form-label">报价单编码</label>
            <div class="layui-input-block">
                <input type="text" name="quotation_code" class="layui-input" lay-verify="required" placeholder="请输入报价单编码" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户id</label>
            <div class="layui-input-block">
                <input type="text" name="customer_id" class="layui-input" lay-verify="required" placeholder="请输入客户id" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">合同id</label>
            <div class="layui-input-block">
                <input type="text" name="contract_id" class="layui-input" lay-verify="required" placeholder="请输入合同id" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">写入人id</label>
            <div class="layui-input-block">
                <input type="text" name="write_id" class="layui-input" lay-verify="required" placeholder="请输入写入人id" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">税额</label>
            <div class="layui-input-block">
                <input type="text" name="tax" class="layui-input"  placeholder="请输入税额" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">报价金额</label>
            <div class="layui-input-block">
                <input type="text" name="quotation_amount" class="layui-input"  placeholder="请输入报价金额" value="">
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>