<div class="layuimini-container">
    <div class="layuimini-main"><labal>生成请款单请选择同一公司的文件!</labal>
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('customer.qingkuan/add')}"
               data-auth-edit="{:auth('customer.qingkuan/edit')}"
               data-auth-delete="{:auth('customer.qingkuan/delete')}"
               data-auth-print="{:auth('customer.qingkuan/print_view')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>