<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        
        <div class="layui-form-item">
            <label class="layui-form-label required">文件id</label>
            <div class="layui-input-block layuimini-upload">
                <input name="file_id" class="layui-input layui-col-xs6" lay-verify="required"  placeholder="请上传文件id" value="0">
                <div class="layuimini-upload-btn">
                    <span><a class="layui-btn" data-upload="file_id" data-upload-number="one" data-upload-exts="*" data-upload-icon="file"><i class="fa fa-upload"></i> 上传</a></span>
                    <span><a class="layui-btn layui-btn-normal" id="select_file_id" data-upload-select="file_id" data-upload-number="one" data-upload-mimetype="*"><i class="fa fa-list"></i> 选择</a></span>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">评论id</label>
            <div class="layui-input-block">
                <input type="text" name="comment_id" class="layui-input" lay-verify="required" placeholder="请输入评论id" value="0">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">翻译人员id</label>
            <div class="layui-input-block">
                <input type="text" name="translation_id" class="layui-input" lay-verify="required" placeholder="请输入翻译人员id" value="0">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">翻译开始时间</label>
            <div class="layui-input-block">
                <input type="text" name="tr_start_time" class="layui-input" lay-verify="required" placeholder="请输入翻译开始时间" value="0">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">翻译结束时间</label>
            <div class="layui-input-block">
                <input type="text" name="tr_end_time" class="layui-input" lay-verify="required" placeholder="请输入翻译结束时间" value="0">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">校对人员</label>
            <div class="layui-input-block">
                <input type="text" name="proofreader_id" class="layui-input" lay-verify="required" placeholder="请输入校对人员" value="0">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">校对开始时间</label>
            <div class="layui-input-block">
                <input type="text" name="pr_start_time" class="layui-input" lay-verify="required" placeholder="请输入校对开始时间" value="0">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">校对结束时间</label>
            <div class="layui-input-block">
                <input type="text" name="pr_end_time" class="layui-input" lay-verify="required" placeholder="请输入校对结束时间" value="0">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">预排人员</label>
            <div class="layui-input-block">
                <input type="text" name="before_ty_id" class="layui-input" lay-verify="required" placeholder="请输入预排人员" value="0">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">预排开始时间</label>
            <div class="layui-input-block">
                <input type="text" name="be_start_time" class="layui-input" lay-verify="required" placeholder="请输入预排开始时间" value="0">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">预排结束时间</label>
            <div class="layui-input-block">
                <input type="text" name="be_end_time" class="layui-input" lay-verify="required" placeholder="请输入预排结束时间" value="0">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">后排人员</label>
            <div class="layui-input-block">
                <input type="text" name="after_ty_id" class="layui-input" lay-verify="required" placeholder="请输入后排人员" value="0">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">后排开始时间</label>
            <div class="layui-input-block">
                <input type="text" name="after_start_time" class="layui-input" lay-verify="required" placeholder="请输入后排开始时间" value="0">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">后排结束时间</label>
            <div class="layui-input-block">
                <input type="text" name="after_end_time" class="layui-input" lay-verify="required" placeholder="请输入后排结束时间" value="0">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态0待预排.1待翻译2.待校对3.待后版</label>
            <div class="layui-input-block">
                <input type="text" name="status" class="layui-input" lay-verify="required" placeholder="请输入状态0待预排.1待翻译2.待校对3.待后版" value="0">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">repetition_rate95</label>
            <div class="layui-input-block">
                <input type="text" name="repetition_rate95" class="layui-input" lay-verify="required" placeholder="请输入repetition_rate95" value="0.00">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">repetition_rate100</label>
            <div class="layui-input-block">
                <input type="text" name="repetition_rate100" class="layui-input" lay-verify="required" placeholder="请输入repetition_rate100" value="0.00">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">总重复率</label>
            <div class="layui-input-block">
                <input type="text" name="repetition_rateall" class="layui-input" lay-verify="required" placeholder="请输入总重复率" value="0.00">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">扣除字数</label>
            <div class="layui-input-block">
                <input type="text" name="deduction_number" class="layui-input" lay-verify="required" placeholder="请输入扣除字数" value="0">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">实际源语数量</label>
            <div class="layui-input-block">
                <input type="text" name="number_of_words_actual" class="layui-input" lay-verify="required" placeholder="请输入实际源语数量" value="0">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">最终交付时间</label>
            <div class="layui-input-block">
                <input type="text" name="final_delivery_time" class="layui-input" lay-verify="required" placeholder="请输入最终交付时间" value="0">
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>