<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">

        <div class="layui-form-item">
            <label class="layui-form-label">文件状态</label>
            <div class="layui-input-block">
                {foreach $status as $k=>$v}
                <input type="radio" name="description_status" value="{$k}" title="{$v}" {in name="k"
                       value="$row.description_status" }checked="" {/in}>
                {/foreach}
            </div>
        </div>

        <div class="layui-form-item">
        <label class="layui-form-label">翻译人员</label>
        <div class="layui-input-block">
        <div id="translation_id"></div>
        </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">翻译开始时间</label>
            <div class="layui-input-block">
                <input type="text" data-date="" autocomplete="off" name="tr_start_time" class="layui-input"  placeholder="请输入翻译开始时间" value="{$row.tr_start_time|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">翻译结束时间</label>
            <div class="layui-input-block">
                <input type="text" data-date="" autocomplete="off" name="tr_end_time" class="layui-input"  placeholder="请输入翻译结束时间" value="{$row.tr_end_time|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">校对人员</label>
            <div class="layui-input-block">
                <div id="proofreader_id"></div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">校对开始时间</label>
            <div class="layui-input-block">
                <input type="text" name="pr_start_time" data-date="" autocomplete="off" class="layui-input"  placeholder="请输入校对开始时间" value="{$row.pr_start_time|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">校对结束时间</label>
            <div class="layui-input-block">
                <input type="text" name="pr_end_time" data-date="" autocomplete="off" class="layui-input"  placeholder="请输入校对结束时间" value="{$row.pr_end_time|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">预排人员</label>
            <div class="layui-input-block">
                <div id="before_ty_id"></div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">预排开始时间</label>
            <div class="layui-input-block">
                <input type="text" name="be_start_time" data-date="" autocomplete="off" class="layui-input"  placeholder="请输入预排开始时间" value="{$row.be_start_time|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">预排结束时间</label>
            <div class="layui-input-block">
                <input type="text" name="be_end_time" data-date="" autocomplete="off" class="layui-input"  placeholder="请输入预排结束时间" value="{$row.be_end_time|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">后排人员</label>
            <div class="layui-input-block">
                <div id="after_ty_id"></div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">后排开始时间</label>
            <div class="layui-input-block">
                <input type="text" name="after_start_time" data-date="" autocomplete="off" class="layui-input"  placeholder="请输入后排开始时间" value="{$row.after_start_time|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">后排结束时间</label>
            <div class="layui-input-block">
                <input type="text" name="after_end_time" data-date="" autocomplete="off" class="layui-input"  placeholder="请输入后排结束时间" value="{$row.after_end_time|default=''}">
            </div>
        </div>
        <!--<div class="layui-form-item">-->
            <!--<label class="layui-form-label">状态0待预排.1待翻译2.待校对3.待后版</label>-->
            <!--<div class="layui-input-block">-->
                <!--<input type="text" name="status" class="layui-input" lay-verify="required" placeholder="请输入状态0待预排.1待翻译2.待校对3.待后版" value="{$row.status|default=''}">-->
            <!--</div>-->
        <!--</div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">页数</label>
            <div class="layui-input-block">
                <input type="text" name="project_page" class="layui-input" autocomplete="off" lay-verify="required" placeholder="请输入页数" value="{$row.project_page|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">源语数量</label>
            <div class="layui-input-block">
                <input type="text" name="project_words_actual" class="layui-input" autocomplete="off" lay-verify="required" placeholder="请输入源语数量" value="{$row.project_words_actual|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">95%-99%重复率</label>
            <div class="layui-input-block">
                <input type="text" name="repetition_rate95" class="layui-input" autocomplete="off" lay-verify="required" placeholder="请输入95%-99%重复率" value="{$row.repetition_rate95|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">100%重复率</label>
            <div class="layui-input-block">
                <input type="text" name="repetition_rate100" class="layui-input" autocomplete="off" lay-verify="required" placeholder="请输入100%重复率" value="{$row.repetition_rate100|default=''}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">扣除字数</label>
            <div class="layui-input-block">
                <input type="text" name="deduction_number" class="layui-input" autocomplete="off" lay-verify="required" placeholder="请输入扣除字数" value="{$row.deduction_number|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">总重复率</label>
            <div class="layui-input-block">
                <input type="text" name="repetition_rateall" class="layui-input" readonly lay-verify="required" placeholder="请输入总重复率" value="{$row.repetition_rateall|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">实际源语数量</label>
            <div class="layui-input-block">
                <input type="text" name="number_of_words_actual" class="layui-input" readonly lay-verify="required" placeholder="请输入实际源语数量" value="{$row.number_of_words_actual|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">最终交付时间</label>
            <div class="layui-input-block">
                <input type="text" name="final_delivery_time" data-date="" autocomplete="off" class="layui-input"  placeholder="请输入最终交付时间" value="{$row.final_delivery_time|default=''}">
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>

<script>
    //翻译人员
    var d = '<?php echo  json_encode($d);?>';
    var d = JSON.parse(d);
    var translation_id = xmSelect.render({
        el: '#translation_id',
        language: 'zn',
        tips: '请选择文件分类',
        name: 'dtranslation_id',
        radio: true,
        clickClose: true,
        filterable: true,
        toolbar: {
            show: true,
            list: ['ALL', 'CLEAR', 'REVERSE']
        },
        data: d
    })
    //预排人员
    var e = '<?php echo  json_encode($e);?>';
    var e = JSON.parse(e);
    var translation_id = xmSelect.render({
        el: '#before_ty_id',
        language: 'zn',
        tips: '请选择预排人员',
        name: 'dbefore_ty_id',
        radio: true,
        clickClose: true,
        filterable: true,
        toolbar: {
            show: true,
            list: ['ALL', 'CLEAR', 'REVERSE']
        },
        data: e
    })
    //后排人员
    var f = '<?php echo  json_encode($f);?>';
    var f = JSON.parse(f);
    var after_ty_id = xmSelect.render({
        el: '#after_ty_id',
        language: 'zn',
        tips: '请选择后排人员',
        radio: true,
        clickClose: true,
        name: 'dafter_ty_id',
        filterable: true,
        toolbar: {
            show: true,
            list: ['ALL', 'CLEAR', 'REVERSE']
        },
        data: f
    })
    //校对
    var g = '<?php echo  json_encode($g);?>';
    var g = JSON.parse(g);
    var proofreader_id = xmSelect.render({
        el: '#proofreader_id',
        language: 'zn',
        tips: '请选择校对人员',
        name: 'dproofreader_id',
        radio: true,
        clickClose: true,
        filterable: true,
        toolbar: {
            show: true,
            list: ['ALL', 'CLEAR', 'REVERSE']
        },
        data: g
    })
</script>

<script src="__STATIC__/js/jquery-3.3.1.min.js?v={$version}" charset="utf-8"></script>
<script src="https://www.layuicdn.com/layer/layer.js" charset="utf-8"></script>
<script>
    $("input[name='repetition_rate95'],input[name='repetition_rate100'],input[name='project_words_actual'],input[name='deduction_number']").bind('input porpertychange',function(){
        //95重复率.100重复率.源语数,扣除字数
        var repetition_rate95=$("input[name='repetition_rate95']").val();
        var repetition_rate100=$("input[name='repetition_rate100']").val();
        var project_words_actual=$("input[name='project_words_actual']").val();
        var deduction_number=$("input[name='deduction_number']").val();
        var repetition_rateall=Number(repetition_rate95)+Number(repetition_rate100);
        //中文统计字数
        var number_of_words_actual=Number(project_words_actual) * (1-repetition_rateall*0.01) -Number(deduction_number);
        $("input[name='repetition_rateall']").val(repetition_rateall);
        $("input[name='number_of_words_actual']").val(number_of_words_actual.toFixed(2));
    });




</script>