<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('project.description/add')}"
               data-auth-edit="{:auth('project.description/edit')}"
               data-auth-delete="{:auth('project.description/delete')}"
               data-auth-comment="{:auth('project.description/comment')}"
               data-auth-schedule="{:auth('project.description/schedule')}"
               data-auth-ypstock="{:auth('project.description/ypstock')}"
               data-auth-trstock="{:auth('project.description/trstock')}"
               data-auth-xdstock="{:auth('project.description/xdstock')}"
               data-auth-hpstock="{:auth('project.description/hpstock')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>

<script type="text/html" id="barDemo">

    {{# if(d.tr.username == "undefined"){ }}
    开始日期：
    {{# } else { }}
    已截止
    {{# } }}
</script>
