<div class="layuimini-container">
    <div class="layuimini-main">
        <a class="layui-btn layui-btn-sm" id="reload"><i class="layui-icon layui-icon-refresh"></i>重载</a>
        <a class="layui-btn layui-btn-sm layui-btn-normal" id="clear"><i
                class="layui-icon layui-icon-delete"></i>清除缓存</a>
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('project.allitems/add')}"
               data-auth-edit="{:auth('project.allitems/edit')}"
               data-auth-delete="{:auth('project.allitems/delete')}"
               data-auth-general="{:auth('project.allitems/general')}"
               data-auth-m="{:auth('project.allitems/m')}"
               data-auth-deliver="{:auth('project.allitems/deliver')}"
               data-auth-split="{:auth('project.allitems/split')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>
