<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('project.allitems/add')}"
               data-auth-edit="{:auth('project.allitems/edit')}"
               data-auth-delete="{:auth('project.allitems/delete')}"
               data-auth-general="{:auth('customer.quotation/general')}"
               data-auth-m="{:auth('project.allitems/m')}"
               data-auth-deliver="{:auth('project.allitems/deliver')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>
